.carrosel
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;/*Aplica espaçamento entelinhas e colunas*/
    text-align: center;
    background-color:aliceblue;
    margin: 0;
    padding: 0;
}
.carrosel-item
{
    position: relative;
    overflow: hidden;/*Faz com que o item que "escape" seja cortado*/
    width: 300px;
    height: 500px;
}
.carrosel-item img
{
    width: 95%;
    height: 85%;
    object-fit:cover;/*a imagem sera redimesionadas para cobri completamente o retagulo*/
    opacity: 0.3;
}
.carrosel-texto-antes
{
    position: absolute;
    top: 0;/*Faz o texto ocupa todo espaço da imagem*/
    left: 0;/*Faz o texto ocupa todo espaço da imagem*/
    width: 100%;/*Faz o texto ocupa todo espaço da imagem*/
    height: 100%;/*Faz o texto ocupa todo espaço da imagem*/
    display: flex;/*alinha o texto ao centro*/
    justify-content: center;/*alinha o texto*/
    align-items:first center;/*alinha o texto*/
    color: #27278D;
    font-family: 'Oswald', sans-serif;
}
.carrosel-texto-depois
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#27278D;
    color: white;
    font-size: 1.2rem;
    z-index: 1;/*Definir qual elemento ficar por cima ou por baixo*/
    opacity: 0;/*como vai aparecer com o passar do mouse a opacidade deve ser total antes*/
    transition: opacity 0.5s ease;/*Transição suave*/
    margin: 2px;
    padding: auto;
    font-family: 'Roboto', sans-serif;
}
.carrosel-item:hover .carrosel-texto-antes
{
    opacity: 0;
}
.carrosel-item:hover .carrosel-texto-depois
{
    opacity: 1;
}