
body
{
    font-family: "Viga", sans-serif;
    margin: 0;/*Remove a margem padrão da pagina*/
    padding: 0;/*Remove o espaço interno dentro do corpo da pagina*/
    overflow: hidden;/*imperde que o conteudoo limite da janela*/
    background-color: #f0f0f3;/*Cor da página*/
    font-variant-alternates: initial;/*letra*/

    /*display: flex; facilita o aliamento dentro da página
    justify-content: center;centralizar horizontalmente
    align-items: center;Centralizar verticalmente
    height: 100vh;Defini a autura da pagina*/
}
.home{
    width: 50px;
}
.primiero {background-color: #27278D}


.exemplo{
    color: #27278D; 
    padding:16px;
    list-style-type:none;
    display: flex;
    font-family: 'Oswald', sans-serif;  
}
.bloco{ 

    width: 300px;
    height: 50px;
    display: flex;
    text-align: center;  
    align-items: center;
    justify-content: center;
    margin: 2px;

}
.bloco:hover{
    
    background-color: #ffffff;
    color: rgb(255, 255, 255);
}
a {
    color: inherit; /* Mantém a cor do texto ao redor */
    text-decoration: none; /* Remove o sublinhado */
}
.cadeado
{
    width: 50px;
    height: auto;
}
h2
{
    font-family: 'Roboto', sans-serif;
    color: #27278D;
}


.texto
{
    
    z-index: 3;/*Definir a camada que texto sera renderizado*/
    text-align:center;/*Ficar a frente*/
    color:  #27278D;/*Cor do texto*/
}
.texto h1
{
    font-size: 3rem;
    margin:0;
    padding:0;
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.botao
{
    background-color: #27278D;/*cor de fundo do texto*/
    color: #ffffff;/*cor do texto*/
    border-color: #ffffff;/*cor da borda*/
    height: 50px;/*altura do botão*/
    width: 200px;/*largura do botão*/
    border-radius: 40px;/*Arredonda as bordas com pixels*/
    margin-top: 5px;
    font-weight: 600;
    
}
.img1
{
    width: 260px;
    height: auto;
}
footer
{
   background-color:  #27278D;/*Cor de fundo do rodape*/
    color:#ffffff;/*cor da letra*/
    text-align:center;/*centralizar o texto*/
    padding: 10px 0;/*Espaço interno*/
    position: relative;/*Fizar o rodape no final do texto*/
    bottom: 0;
    width: auto;/*largura da pagina*/
    margin: 5px;
}
footer a
{
 color: #ffffff;/*cor do link*/
 text-decoration: none;/*Remover o sublinhado*/
 margin: 10px;/*Espaçamento entre link*/
}
footer a:hover
{
    text-decoration: underline;/*Efeito ao passar o mouse*/
}