body
{
    margin: 0;/*Remove a margem padrão da pagina*/
    padding: 0;/*Remove o espaço interno dentro do corpo da pagina*/
    overflow: hidden;/*imperde que o conteudoo limite da janela*/
    background-color: #27278d;/*Cor da página*/
    font-variant-alternates: initial;/*letra*/

    /*display: flex; facilita o aliamento dentro da página
    justify-content: center;centralizar horizontalmente
    align-items: center;Centralizar verticalmente
    height: 100vh;Defini a autura da pagina*/
}
.home{
    width: 50px;
}
.primiero {background-color: #ffffff}


.exemplo{
    color: #fff; 
    padding:16px;
    list-style-type:none;
    display: flex;
    font-family: 'Oswald', sans-serif;  
}
.bloco{ 

    width: 300px;
    height: 50px;
    display: flex;
    text-align: center;  
    align-items: center;
    justify-content: center;
    margin: 2px;

}
.bloco:hover{
    
    background-color: #27278d;
    color: rgb(255, 255, 255);
}
a {
    color: inherit; /* Mantém a cor do texto ao redor */
    text-decoration: none; /* Remove o sublinhado */
}
.cadeado
{
    width: 50px;
    height: auto;
}



.texto
{
    
    z-index: 3;/*Definir a camada que texto sera renderizado*/
    text-align:center;/*Ficar a frente*/
    color:  #b29146;/*Cor do texto*/
    font-family: 'Roboto', sans-serif;
}
.texto h1
{
    font-size: 3rem;
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;
}
.botao
{
    background-color: #b29146;/*cor de fundo do texto*/
    color: #27278d;/*cor do texto*/
    border-color: #b29146;/*cor da borda*/
    height: 50px;/*altura do botão*/
    width: 200px;/*largura do botão*/
    font-family: 'Oswald', sans-serif;/*propreidade da fonte do botão*/
    border-radius: 30px;/*Arredonda as bordas com pixels*/
    margin-top: 50px;

    
}
.img1
{
    width: 200px;
    height: auto;
}